name: Android CI/CD

on:
  push:
    branches: [ "main", "master" ]
    tags:
      - 'v*'
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Decode Keystore
      run: echo "${{ secrets.DEBUG_KEYSTORE_BASE64_FROM_MAC }}" | base64 --decode > shared/debug.keystore

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Clean and Build with Gradle
      run: ./gradlew clean :composeApp:assembleDebug -PversionName=${{ github.ref_name }}

    - name: Run Tests
      run: ./gradlew test

    - name: Prepare APK for distribution
      run: |
        if [[ "${{ github.ref }}" == refs/tags/v* ]]; then
          mv composeApp/build/outputs/apk/debug/composeApp-debug.apk "beerwall-${{ github.ref_name }}.apk"
        else
          mv composeApp/build/outputs/apk/debug/composeApp-debug.apk "beerwall-${{ github.ref_name }}.apk"
        fi

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: beerwall-app-${{ github.ref_name }}
        path: beerwall-*.apk

    - name: Create Release
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ github.ref_name }}
        name: "Release ${{ github.ref_name }}"
        files: beerwall-*.apk
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
